body {
    background: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(../resources/dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background: url(../resources/cactus.png);
}

.game-over {
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: arial;
}

@keyframes slideright {
    from {
        background-position: 700000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(../resources/background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart {
    background-color: #b8b8b8;
    color: #666666;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}